ul {
  list-style: none;
  width: 99%;
  margin: auto;
  border-radius: 20px;
  padding: 0 0 0 0;
}

li {
  margin: 10px;
  border: solid 1px;
  border-radius: 30px;
  background-color:rgba(211, 211, 211, 0.8);
}

@media screen and (min-width: 480px) {
  ul {
    width: 80%;
  }

}