@import '../../index.scss';
.representativePage {

  .repPage-section {
    display: flex;
    flex-direction: column-reverse;

    &#contact-info {
      flex-direction: column-reverse;
      @media (min-width: 768px) {
        flex-direction: row;
      }
      .social-icon {
        color: $black;
      }
    }
    .chartDesc {
      width: 100%;
      padding: 25px 0 50px;
      @media (min-width: 959px) {
        font-size: 20px;
        width: 20%;
        padding: 25px;
      }
    }
    .repPage-section-text,
    .repPage-section-other {
      width: 100%;
      @media (min-width: 768px) {
        width: 50%;
      }
    }
    .repPage-section-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 2em;
      h1,
      h2,
      h3,
      p {
        font-weight: 500;
        display: flex;
        justify-content: flex-start;
        font-family: 'JostRegular', 'Futura', sans-serif;
        margin-bottom: 1rem;
        align-items: flex-end;
      }
      .back-nav {
        text-decoration: none;
        border-radius: 10px;
        padding: 10px;
        margin-top: 25px;
        transition: opacity .25s ease;
        cursor: pointer;
        width: 130px;
        opacity: 0.75;
        text-align: center;
        background: $lightgreen;
        color: $green;
        &:hover {
          opacity: 1;
        }
      }

      @media (min-width: 959px) {
        padding: 10%;
      }
    }
    .repPage-section-image {
      img {
        max-width: 100%;
        width: 100%;
      }
    }
    .partyIcon {
      vertical-align: middle;
      width: 25px;
    }
    #contributionChart {
      width: 100%;
      display: flex;

      .contributionChart-text-div,
      canvas {
        width: 100%;
      }
      @media (min-width: 959px) {
        width: 75%;
        height: auto;
      }
    }
    @media (min-width: 959px) {
      flex-direction: row;
      padding: 50px 0;
      justify-content: space-between;
    }
  }
  @media (min-width: 768px) {
    display: flex;
  }      
}
