@import '../../index.scss';
.representativePage {

  .repPage-section {
    display: flex;
    flex-direction: column-reverse;

    .mobile-contributions {
      margin-bottom: 2.5em;

      h2 {
        font-family: 'JostRegular', sans-serif;
        margin-bottom: 1em;
      }
      .contributionItem {
        display: flex;
        padding: 10px 5%;
        justify-content: space-between;
        align-items: flex-start;
        span.repPage-span {
          padding-top: 5px;
          display: block;
          width: 50%;
          min-width: 25%;
          margin-right: 50px;
          font-weight: 400;
          font-size: 1rem;
        }
        font-size: 1.5em;

      }

      @media (min-width: 768px) {
        display: none;
      }
    }
    &#contact-info {
      flex-direction: column-reverse;
      @media (min-width: 768px) {
        flex-direction: row;
      }

      .flex{
        flex-direction: row;
        justify-content: flex-start;
        .social-icon {
          margin: 0 50px 0 0;
          color: $black;
        }

      
    }
    .chartDesc {
      width: 100%;
      font-size: 1em;
      //display: none;
      padding: 25px 0 50px;
      @media (min-width: 768px) {
        display: inherit;
      }
      @media (min-width: 959px) {
        // display: inherit;
        font-size: 1.15em;
        width: 25%;
        padding: 25px;
      }
    }
    .repPage-section-text,
    .repPage-section-other {
      width: 100%;
      @media (min-width: 768px) {
        width: 50%;
      }
    }
    .repPage-section-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 2em;
      h1,
      h2,
      h3,
      p {
        font-weight: 500;
        display: flex;
        justify-content: flex-start;
        font-family: 'JostRegular', 'Futura', sans-serif;
        margin-bottom: 1rem;
        align-items: flex-end;
      }
      .back-nav {
        text-decoration: none;
        border-radius: 10px;
        padding: 10px;
        margin-top: 25px;
        transition: opacity .25s ease;
        cursor: pointer;
        width: 130px;
        opacity: 0.75;
        text-align: center;
        background: $lightgreen;
        color: $green;
        &:hover {
          opacity: 1;
        }
      }

      @media (min-width: 959px) {
        padding: 10%;
      }
    }
    .repPage-section-image {
      img {
        max-width: 100%;
        width: 100%;
      }
    }
    .partyIcon {
      vertical-align: middle;
      width: 25px;
    }
    #contributionChart {
      width: 100%;
      display: none;

      .contributionChart-text-div,
      canvas {
        width: 100%;
      }
      @media (min-width: 768px) {
        display: flex;
      }
      @media (min-width: 959px) {
        width: 75%;

        height: auto;
      }
    }
    @media (min-width: 959px) {
      flex-direction: row;
      padding: 50px 0;
      justify-content: space-between;
    }
  }

}
