.representativePage {

  nav {
    .back-nav {
      text-decoration: none;
      border-radius: 10px;
      padding: 10px;
      margin-top: 25px;
      transition: opacity .25s ease;
      cursor: pointer;
      width: 100%;
      opacity: 0.75;
      text-align: center;
      background: #BCD39C;
      color: green;
      &:hover {
        opacity: 1;
      }
    }
  }
  .repPage-section {
    display: flex;

    .repPage-section-text,
    .repPage-section-other {
      width: 50%;
    }
    .repPage-section-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10%;

      h1,
      h2,
      h3,
      p {
        font-weight: 500;
        display: flex;
        justify-content: flex-start;
        font-family: 'JostRegular', 'Futura', sans-serif;
        margin-bottom: 1rem;
        align-items: flex-end;
      }
    }
    .repPage-section-image {
      img {
        max-width: 100%;
        width: 100%;
      }
    }
    #contributionChart {
      width: 100%;
      display: flex;
      .contributionChart-text-div,
      canvas {
        width: 50%;
      }
    }
  }
}
