.Button {
  padding: 10px 10px;
  font-weight: 700;
  margin:10px 5px 10px 0;
  border: .5px solid lightgray;
  background-color: #fffeff;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0,0,0, .6); 
  text-decoration: none;
  color:#02111B;

}

.Button:hover {
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(179, 177, 177, 0.6); 
}