$blue: #0063C0;
.heroAbout,
.createFormDiv,
.searchNow {
  display: flex;
}
.heroAbout {
  align-items: flex-start;
  justify-content: space-between;
  padding: 100px 0 100px 0;

  .heroAboutImg,
  .heroAboutText {
    width: 50%;
  }
  .heroAboutImg {
    text-align: right;
    padding-right: 25px;
  }
  .heroAboutText {
    padding-top: 10%;
    padding-left: 25px;

    h2 {
      max-width: 25ch;
      margin-bottom: 1em;
    }
    .submit {
      opacity: 0.75;
      transition: opacity .2s ease;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
    .registerButton {
      margin-right: 50px;
      background: pink;
      color: #E9503E;
    }
    .searchButton {
      color: #0063C0;
      background: lightblue;
    }
  }
}
.createFormDiv {
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;


  .title,
  .form-wrapper,
  .subtitle {
    text-align: left;
  }

  .title,
  .form-wrapper {
    width: 100%;
    @media (min-width: 768px) {
      width: 50%;
    }
  }
  .title {
    font-size: 1.5em;
    margin-bottom: 2em;
    @media (min-width: 768px) {
      padding-right: 25px;
      font-size: 2em;
    }
  }
  .form-wrapper {
    h3 {
      font-size: 1.25em;
    }

    @media (min-width: 768px) {
      padding: 0 25px;
      h3 {
        font-size: 1.75em;
      }
    }
  }
  @media (min-width: 768px) {
    flex-direction: row;
  }
}
