$blue: #0063C0;
.heroAbout,
.createFormDiv,
.searchNow {
  display: flex;
}

.createFormDiv {
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;


  .title,
  .form-wrapper,
  .subtitle {
    text-align: left;
  }

  .title,
  .form-wrapper {
    width: 100%;
    @media (min-width: 768px) {
      width: 50%;
    }
  }
  .title {
    font-size: 1.25em;
    margin-bottom: 2em;
    @media (min-width: 768px) {
      padding-right: 25px;
      font-size: 2em;
    }
  }
  .form-wrapper {
    h3 {
      font-size: 1.25em;
    }

    @media (min-width: 768px) {
      padding: 0 25px;
      h3 {
        font-size: 1.75em;
      }
    }
  }
  @media (min-width: 768px) {
    flex-direction: row;
  }
}
