.reg-vote{
  position: relative;
  iframe{
    position: relative;
    z-index: 10;
  }
  .loading{
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    text-align: center;
  }
  .dash-link {
    /* margin: 40px; */
    font-size: 27px;
    color: black;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    background-color: rgb(180, 210, 230)
  }
}

