.reg-vote {
  display: flex;
  flex-direction: column;
}

.dash-link {
  /* margin: 40px; */
  font-size: 27px;
  color: black;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100%;
  background-color: rgb(180, 210, 230)
}