.RegistrationForm {
  width: 400px;
  margin: auto;
}

.RegistrationFormCity {
  width: 200px;
  float: left;
}

.RegistrationFormState {
  width: 50px;
  float: left;
}

.RegistrationFormZip {
  width: 150px;
  float: left;
}


.RegistrationForm a {
  display: block;
}
