$blue: #0063C0;
.heroAbout,
.createFormDiv,
.searchNow {
  display: flex;
}
.heroAbout {
  align-items: flex-start;
  justify-content: space-between;
  padding: 100px 0 100px 0;

  .heroAboutImg,
  .heroAboutText {
    width: 50%;
  }
  .heroAboutImg {
    text-align: right;
    padding-right: 25px;
  }
  .heroAboutText {
    padding-top: 10%;
    padding-left: 25px;

    h2 {
      max-width: 25ch;
      margin-bottom: 1em;
    }
    .submit {
      opacity: 0.75;
      transition: opacity .2s ease;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
    .registerButton {
      margin-right: 50px;
      background: pink;
      color: #E9503E;
    }
    .searchButton {
      color: #0063C0;
      background: lightblue;
    }
  }
}
.createFormDiv {
  padding-top: 100px;
  align-items: flex-start;
  justify-content: space-between;


  .title,
  .form-wrapper,
  .subtitle {
    text-align: left;
  }

  .title,
  .form-wrapper {
    width: 50%;

  }
  .title {
    padding: 25px 5%;
  }
  .form-wrapper {
    padding: 25px;
  }

}

.searchNow {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 200px auto;
  h2 {
    margin-bottom: 50px;
  }
  h3 {
    max-width: 50ch;
    margin: 0 auto;
    text-align: center;
  }
  a.searchNow-button {
    text-decoration: none;
    margin-top: 50px;
    opacity: 0.75;
    transition: opacity 0.25s ease;
    background: lightblue;
    border-radius: 10px;
    padding: 15px;
    font-size: 1.25em;
    color: $blue;
    &:hover {
      opacity: 1;
    }
  }

}
