$blue: #0063C0;
.heroAbout,
.searchNow {
  display: flex;
}
.heroAbout {
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 0 50px 0;

  .heroAboutImg,
  .heroAboutText {
    width: 100%;

    @media (min-width: 768px) {
      width: 50%;
    }
  }
  .heroAboutImg {
    text-align: right;
    padding-right: 25px;
    img {
      width: 100%;
      max-width: 100%;
    }
  }
  .heroAboutText {
    padding-top: 1em;
    @media (min-width: 768px) {
      padding-top: 4%;
      padding-left: 25px;
    }

    h2 {
      max-width: 25ch;
      margin-bottom: 0.5em;
      @media (min-width: 768px) {
        margin-bottom: 1em;
      }
    }
    .submit {
      opacity: 0.75;
      transition: opacity .2s ease;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
    .registerButton {
      margin-right: 50px;
      background: pink;
      color: #E9503E;
    }
    .searchButton {
      color: #0063C0;
      background: lightblue;
    }
  }

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.searchNow {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 200px auto;
  h2 {
    margin-bottom: 50px;
  }
  h3 {
    max-width: 50ch;
    margin: 0 auto;
    text-align: left;
    @media (min-width: 768px) {
      text-align: center;
    }
  }
  a.searchNow-button {
    text-decoration: none;
    margin-top: 50px;
    opacity: 0.75;
    transition: opacity 0.25s ease;
    background: lightblue;
    border-radius: 10px;
    padding: 15px;
    font-size: 1.25em;
    color: $blue;
    &:hover {
      opacity: 1;
    }
  }

}
