.App {
  padding: 0 25px;
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

}
.main-app {
  margin-top: 1.5em;
  @media (min-width: 959px) {
    padding: 10px 0;
    margin-top: 0;
  }
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}
