body {
  min-width: 320px;
  min-height: 100vh;
}

.container {
  margin-top: 20px;
  justify-content: left; 
  width: 80%;
  margin-left: 10%;
  border-radius: 20px;
  color: #02111B;
  padding: 20px;
}

@media screen and (min-width: 450px) {
  .container {
    width: 50%;
    margin-left: 25%;
  }
}