@import '../../index.scss';

.appHeader {
  background-color: #fafaf8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  padding: 20px;
  background-color: $background;
  top: 0;
  z-index: 99999;
  // border: 1px solid;
  margin: 0 -25px;
  border-bottom: 1px solid;

  @media (min-width: 768px) {
    border-bottom: 0;
    margin: 0 auto;
    padding: 20px 0;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  .Header-Logo {
    font-size: 1.25em;
    margin-bottom: 0.5em;
    a {
      background: transparent;
      cursor: pointer;
    }
  }

  nav {
    .login-link,
    .search-nav,
    .register-link {
      @media (min-width: 768px) {
        padding: 10px;
        transition: color .25s ease, background .25s ease;
        border-radius: 10px;
      }

    }
    .login-link {
      margin-left: 25px;
      &:hover {
        background: pink;
        color: $red;
      }
    }
    .search-nav {
      &:hover {
        background: $lightgreen;
        color: $green;
      }
    }
    .register-link {
      margin-left: 25px;
      &:hover {
        color: $blue;
        background: $lightblue;
      }
    }

  }

  .signed-in {
    display: flex;

    nav {
      @media (min-width: 768px) {
        margin-left: 25px;
      }
      .header-user-name,
      .search-nav,
      .logout {
        padding-right: 25px;
        @media (min-width: 768px) {
          padding: 10px;
        }
        transition: color .25s ease, background .25s ease;
        border-radius: 10px;
      }
      .header-user-name {

        &:hover {
          color: $blue;
          background: $lightblue;
        }
        @media (min-width: 768px) {
          margin-left: 25px;
        }
      }
      .search-nav {
        &:hover {
          background: $lightgreen;
          color: $green;
        }
      }
      .logout {
        @media (min-width: 768px) {
          margin-left: 25px;
        }
        &:hover {
          background: $pink;
          color: $red;
        }
      }
    }
  }

  @media (min-width: 768px) {
    flex-direction: row;
  }
}
