$blue: #0063C0;
$red: #E9503E;
$background: #FAFAF8;

.appHeader {
  background-color: #fafaf8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  padding: 20px 0;
  background-color: $background;
  top: 0;

  a {
    color: inherit;
    text-decoration: none;
  }
  .Header-Logo {
    font-size: 1.25em;
    margin-bottom: 0.5em;
    a {
      background: transparent;
      cursor: pointer;
    }
  }

  nav {
    .login-link,
    .search-nav,
    .register-link {
      @media (min-width: 768px) {
        padding: 10px;
        transition: color .25s ease, background .25s ease;
        border-radius: 10px;
      }

    }
    .login-link {
      margin-left: 25px;
      &:hover {
        background: pink;
        color: $red;
      }
    }
    .search-nav {
      &:hover {
        background: #BCD39C;
        color: green;
      }
    }
    .register-link {
      margin-left: 25px;
      &:hover {
        color: $blue;
        background: lightblue;
      }
    }

  }

  .signed-in {
    display: flex;

    nav {
      margin-left: 25px;
      .header-user-name,
      .search-nav,
      .logout {
        padding: 10px;
        transition: color .25s ease, background .25s ease;
        border-radius: 10px;
      }
      .header-user-name {
        margin-left: 25px;
        &:hover {
          color: $blue;
          background: lightblue;
        }
      }
      .search-nav {
        &:hover {
          background: #BCD39C;
          color: green;
        }
      }
      .logout {
        margin-left: 25px;
        &:hover {
          background: pink;
          color: $red;
        }
      }
    }
  }

  @media (min-width: 768px) {
    flex-direction: row;
  }
}
