$blue: #0063C0;
$red: #E9503E;

.App-Header {
  box-shadow: 0 0 15px 10px #fafaf8;
  background-color: #fafaf8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  padding: 25px 0;
  top: 0;

  a {
    color: inherit;
    text-decoration: none;
  }
  .Header-Logo {
    a {
      background: transparent;
      cursor: pointer;
    }
  }

  nav {
    .login-link,
    .search-nav,
    .register-link {
      padding: 10px;
      transition: color .25s ease, background .25s ease;
      border-radius: 10px;
    }
    .login-link {
      &:hover {
        background: pink;
        color: $red;
      }
    }
    .search-nav {
      &:hover {
        background: #BCD39C;
        color: green;
      }
    }
    .register-link {
      margin-left: 25px;
      &:hover {
        color: $blue;
        background: lightblue;
      }
    }

  }

  .signed-in {
    display: flex;

    nav {
      margin-left: 25px;
      .header-user-name,
      .search-nav,
      .logout {
        padding: 10px;
        transition: color .25s ease, background .25s ease;
        border-radius: 10px;
      }
      .header-user-name {
        margin-left: 25px;
        &:hover {
          color: $blue;
          background: lightblue;
        }
      }
      .search-nav {
        &:hover {
          background: #BCD39C;
          color: green;
        }
      }
      .logout {
        margin-left: 25px;
        &:hover {
          background: pink;
          color: $red;
        }
      }
    }
  }
}
