.App-Header {
  height: 40px;
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  color: #000000;
  padding: 0 25px;
}

header a {
  text-decoration: none;
  color: inherit;
}
.logo-red {
  color: #D46262;
  font-style: italic;
  padding-right: 2.5px;
}
.logo-blue {
  color: #39A9DB;
}
header a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 25px;
}

.header-controls {
  display: flex;
}

.header-controls a {
  margin-left: 15px;
}
