header {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  color: #000000;
  font-family: 'Titillium Web', sans-serif;
}

header a {
  margin: 0 5px;
  text-decoration: none;
  color: #000000;
}

header a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 25px;
}