.mainDashboard {


  .dashboard {
    display: flex;
    flex-direction: column;

    .myData,
    .rep-pane {
      h2 {
        padding-bottom: 25px;
        font-weight: 500;
      }
    }

    .myData {
      width: 100%;

      @media (min-width: 768px) {
        width: 50%;
      }
      @media (min-width: 959px) {
        width: 25%;
      }

      .myData-text {
        p {
          font-weight: 500;
          display: flex;
          justify-content: flex-start;
          font-family: 'JostRegular', 'Futura', sans-serif;
          margin-bottom: 1rem;
          align-items: flex-end;
          font-size: 24px;
        }
        a {
          color: inherit;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .rep-pane {
      width: 100%;

      @media (min-width: 768px) {
        width: 50%;
      }
      @media (min-width: 959px) {
        width: 75%;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
        li {
          width: 33%;
          padding: 10px;
          cursor: pointer;
          img {
            max-width: 100%;
            width: 100%;
          }
          .go-details {
            padding: 10px;
            margin-top: 25px;
            transition: opacity .25s ease;
            cursor: pointer;
            width: 100%;
            opacity: 0.75;
            text-align: center;
            background: #BCD39C;
            color: green;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  .NewsList-wrapper {

    .title{
      margin: 50px 0;
    }
    .NewsList {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      li.articleThumbnail {
        width: 24%;
        padding-bottom: 100px;
        img {
          max-width: 100%;
          width: 100%;
        }
        a {
          color: inherit;
          text-decoration: none;
          h2 {
            font-family: 'JostRegular', 'Futura', sans-serif;
            padding: 0.5em 0 0.125em 0;
          }

          &:hover {
            text-decoration: underline;
          }
        }
        .articleSource {
          font-size: 0.75em;
          color: grey;
          padding-bottom: 0.5em;
        }
        .articleDescription {
          padding-bottom: 0.5em;
        }
        .articlePublished {
          font-size: 0.75em;
        }

        @media (max-width: 1200px) {
          h2 {
            font-size: 1.25em;
          }
        }
        @media (max-width: 959px) {
          width: 49%;
        }
        @media (max-width: 768px) {
          h2 {
            font-size: 1em;
          }
          .articleDescription {
            font-size: 0.85em;
          }
        }
      }
    }
  }
}
