$blue: #0063C0;
$red: #E9503E;
.login-wrapper {
  display: flex;
  justify-content: space-between;
  .title,
  .loginForm {
    width: 47.5%;
  }

  .loginForm {
    .form-fields {
      display: flex;
      align-items: flex-start;
      margin-bottom: 25px;

      label {
        color: $blue;
        width: 20%;
        display: inline-block;
      }
      input {
        width: 75%;
        font-size: 1.5em;
        background: inherit;
        border: 0;
        border-bottom: 2px solid $blue;
        border-style: solid;
        color: $blue;
      }
    }
    button.submit {
      margin-top: 25px;
      transition: opacity .25s ease;
      opacity: 0.85;
      border: none;
      background: $red;
      color: white;

      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }
  }
}
