$blue: #0063C0;
$red: #E9503E;
.login-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .title,
  .loginForm {
    @media (min-width: 900px) {
      width: 47.5%;
    }
  }

  .title {
    font-size: 2em;
    margin-bottom: 1em;
    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  .loginForm {
    .form-fields {
      display: flex;
      align-items: baseline;
      margin-bottom: 25px;

      label {
        color: $blue;
        width: 33%;
        display: inline-block;
        font-size: 0.85em;
        @media (min-width: 768px) {
          width: 20%;
          font-size: 1em;
        }
      }
      input {
        width: 66%;
        font-size: 1em;

        background: inherit;
        border: 0;
        border-bottom: 2px solid $blue;
        border-style: solid;
        color: $blue;
        @media (min-width: 768px) {
          width: 75%;
          font-size: 1.5em;
        }
      }
    }
    button.submit {
      margin-top: 25px;
      transition: opacity .25s ease;
      opacity: 0.85;
      border: none;
      background: $red;
      color: white;

      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }
  }

  @media (min-width: 900px) {
    flex-direction: row;
  }
}
