$blue: #0063C0;
$lightblue: lightblue;
$red: #E9503E;
$pink: pink;
$background: #FAFAF8;
$lightgreen: #BCD39C;
$green: green;
$purple: #AC9AB5;
$lightgrey: lightgrey;
$black: #111111;
$grey: #888888;
