// Variables
$blue: #0063C0;
$red: #E9503E;
$background: #FAFAF8;

// Fonts / Typography
@import url('https://fonts.googleapis.com/css?family=Corben&display=swap');

@font-face {
    font-family: 'JostRegular';
    src: url('./font/Jost-500-Medium.ttf') format('truetype'),
         url('./font/Jost-500-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'JostRegularItalic';
    src: url('./font/Jost-500-MediumItalic.ttf') format('truetype'),
         url('./font/Jost-500-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Resets
html {  box-sizing: border-box;}
*,*::before,*::after {  box-sizing: inherit;}

input,
textarea,
select,
button {
	color: inherit;
	font: inherit;
	letter-spacing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: $background;
  font-family: "JostRegular", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.05em;
  font-size: 18px;
}


h1,
h2 {
  font-family: "Corben", serif;
}

h3,
p {
  font-family: 'JostRegular', 'Futura', sans-serif;
}

h2.title {
  font-size: 2em;
}

h3.subtitle {
  font-size: 1.5em;
}
