// Variables
@import 'colors';

// Fonts / Typography

@font-face {
    font-family: 'JostRegular';
    src: url('./font/Jost-500-Medium.ttf') format('truetype'),
         url('./font/Jost-500-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'JostRegularItalic';
    src: url('./font/Jost-500-MediumItalic.ttf') format('truetype'),
         url('./font/Jost-500-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SouvenirMedium';
    src: url('./font/Souvenir-Medium.otf') format('truetype'),
         url('./font/Souvenir-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'SouvenirMediumItalic';
    src: url('./font/Souvenir-MediumItalic.otf') format('truetype'),
         url('./font/Souvenir-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Resets
html {  box-sizing: border-box;}
*,*::before,*::after {  box-sizing: inherit; text-align: left;}

input,
textarea,
select,
button {
	color: inherit;
	font: inherit;
	letter-spacing: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {  margin: 0;  padding: 0;}

body {
  margin: 0;
  padding: 0;
  background: $background;
  font-family: "JostRegular", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  letter-spacing: 0.025em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


h1,
h2 {
  font-family: "SouvenirMedium", serif;
}

h3,
p {
  font-weight: 500;
  font-family: 'JostRegular', 'Futura', sans-serif;
}

h2.title {
  font-size: 2em;
  @media (min-width: 959px) {
    font-size: 2.5em;
  }

  line-height: 1.25;
  font-weight: 500;
}

h3.subtitle {
  font-size: 1.5em;
  @media (min-width: 959px) {
    font-size: 1.75em;
  }

}

label.small,
.repPage-span {
  font-family: "SouvenirMedium", serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.05em;
}

.repPage-span {
  width: 100px;
}

button.submit {
  border-radius: 10px;
  padding: 15px;
  font-size: 1.25em;
}

.alert,
.unfound-district-alert {
  color: $red;
}
.unfound-district-alert {
  button {
    color: $background;
    margin-bottom: 1em;
  }
}
